* {
  padding: 0;
  margin: 0;
}
body {
  margin-left: 1.5em;
  margin-right: 1.5em;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
header {
  background-color: rgb(71, 3, 71);
  color: white;
  padding: 0.5em;
}
.nav {
  margin-bottom: 0.5em;
}
.navigation {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.2em;
  border-radius: 15%;
  background-color: rgb(124, 1, 124);
}
.navigation:hover {
  background-color: rgb(71, 3, 71);
}
p {
  margin-bottom: 1em;
}
ul {
  margin-bottom: 1em;
}
li {
  list-style: none;
}
li.subject {
  font-weight: 600;
  text-decoration: underline;
}

li.subject:hover {
  color: rgb(124, 1, 124);
  cursor: pointer;
  background-color: whitesmoke;
}

input {
  margin-bottom: 1em;
  padding: 0.3em;
}
button {
  background-color: rgb(71, 3, 71);
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  box-shadow: 3px 3px 3px gray;
}
button:hover {
  background-color: rgb(93, 5, 93);
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
}
#suggestions,
#feedback {
  background-color: rgb(253, 243, 228);
  padding: 1em;
  border: 1px solid rgb(124, 1, 124);
  border-radius: 1%;
  box-shadow: 2px 2px 2px gray;
}
#feedback {
  margin-top: 1em;
}
footer {
  margin-top: 0.5em;
}
