* {
  padding: 0;
  margin: 0;
}
body {
  margin-left: 1.5em;
  margin-right: 1.5em;
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
li {
  list-style: none;
}
li.subject {
  font-weight: 600;
}

li.subject:hover {
  color: rgb(124, 1, 124);
  cursor: pointer;
  background-color: whitesmoke;
}
input {
  margin-bottom: 1em;
  padding: 0.3em;
}
button {
  background-color: rgb(71, 3, 71);
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  box-shadow: 3px 3px 3px gray;
}
button:hover {
  background-color: rgb(93, 5, 93);
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
}
