* {
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.5em;
}

li {
  list-style: none;
  font-weight: 600;
}

li:hover {
  color: rgb(124, 1, 124);
  cursor: pointer;
  background-color: whitesmoke;
}
input {
  margin-bottom: 10px;
}
button {
  background-color: rgb(71, 3, 71);
  color: white;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  box-shadow: 3px 3px 3px gray;
}
button:hover {
  background-color: rgb(93, 5, 93);
}
